:root {
  --bg: #121829;
  --text: #ebeef5;
  --textSoft: #a8aebf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  background-image: url(../../public/images/Background.svg);
  background-size: cover;
}

body,
input,
textarea,
select,
button {
  font-family: inherit;
}

button {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
