.container {
  color: black;
}
.table {
  margin-top: 40px;
  border-collapse: collapse;
  width: 800px;
  height: 200px;
  border: 1px solid red;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0);

  tr {
    transition: all 0.2s ease-in;
    cursor: pointer;
  }

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .header {
    background-color: #16a085;
  }

  .btn {
    display: flex;
    align-items: center;
  }
}
