.headerContainer {
  width: 100%;
  height: 80px;

  .headerContent {
    max-width: 1120px;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;

    img {
      height: 50px;
    }

    nav {
      display: flex;
      gap: 5rem;
      font-size: 14px;
    }

    .loginButtons {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
