.formContainer {
  margin-top: 1.5rem;

  .formContext {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 0.5rem;

    label {
      font-size: 14px;
    }

    input {
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 0.375rem;
      border-width: 1px;
      height: 2.75rem;
      background: transparent;
      border: 1px solid #323b54;
      font-size: 14px;
      outline: none;
      color: var(--text);
      margin-top: 0.5rem;
    }
  }

  .btn {
    display: flex;
    justify-content: flex-end;
  }
}

/*PlanScreen*/
.planChoiceCcreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btnChoice {
  display: flex;
  justify-content: space-between;

  gap: 1rem;
}
.planChoiceContent {
  text-align: center;
}

.planChoiceIcon svg {
  width: 100px; /* Ajuste conforme necessário */
  height: 100px; /* Ajuste conforme necessário */
}

.planChoiceDescription {
  margin-top: 20px;
}

.planChoiceDescriptionItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.planChoiceDescriptionItem svg {
  margin-right: 10px;
}

/*CREDIT CARD FORM*/

.creditContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .creditContext {
    margin-bottom: -110px;
    position: relative;

    .card {
      transform-style: preserve-3d;
      transition: all 0.8 ease;

      .frontCard {
        background-image: url("../../../public/images/card/bg-card-front.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        backface-visibility: hidden;
        display: flex;
        padding: 1.25rem;
        flex-direction: column;
        justify-content: space-between;

        height: 200px;
        width: 320px;
        border-radius: 10px;

        transition: transform 0.4s ease-out;

        img {
          width: 3rem;
        }

        .creditInfo {
          h2 {
            margin-bottom: 1.5rem;
            font-size: 1.1rem;
            line-height: 2rem;
            letter-spacing: 0.1em;
          }
          ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
              font-size: 0.8rem;
              font-weight: 600;
              line-height: 1.75rem;
              letter-spacing: 0.1em;
              text-transform: uppercase;
            }
          }
        }
      }
      .backCard {
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../../../public/images/card/bg-card-back.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        height: 200px;
        width: 320px;
        border-radius: 10px;
        backface-visibility: hidden;
        transform: rotateY(180deg);

        p {
          position: relative;
          left: 16.7rem;
          top: 5.2rem;
          font-size: 0.8rem;
          font-weight: 600;
          line-height: 1.75rem;
          letter-spacing: 0.1em;
        }
      }
    }
    .cardFlip {
      transform: rotateY(180deg);
    }
  }

  .creditForm {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;

    height: 70vh;
    width: 40vw;

    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;

    padding-top: 150px;

    label {
      display: block;
      margin-bottom: 0.3rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-weight: 600;
      color: #333333;
    }
    input {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      padding-left: 1rem;
      padding-right: 1rem;
      border-width: 1px;
      width: 100%;

      border: 1px solid #323b54;
      font-size: 14px;
      outline: none;
      color: var(--textSoftOut);
    }

    .dateCVV {
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      align-items: center;

      .te {
        flex: 1 1 0%;
      }
    }
  }
}

/*.frontCard {
      background-image: url("../../../public/images/card/bg-card-front.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      display: flex;
      padding: 1.25rem;
      flex-direction: column;
      justify-content: space-between;

      height: 160px;
      width: 280px;
      border-radius: 10px;

      img {
        width: 3rem;
      }

      .creditInfo {
        h2 {
          margin-bottom: 1.5rem;
          font-size: 1.1rem;
          line-height: 2rem;
          letter-spacing: 0.1em;
        }
        ul {
          list-style: none;
          display: flex;
          justify-content: space-between;
          align-items: center;

          li {
            font-size: 0.8rem;
            font-weight: 600;
            line-height: 1.75rem;
            letter-spacing: 0.1em;
            text-transform: uppercase;
          }
        }
      }
    }
    .backCard {
      background-image: url("../../../public/images/card/bg-card-back.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      height: 160px;
      width: 280px;
      border-radius: 10px;

      p {
        position: relative;
        left: 14rem;
        top: 4.1rem;
        font-size: 0.8rem;
        font-weight: 600;
        line-height: 1.75rem;
        letter-spacing: 0.1em;
      }
    }*/
