.container {
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1120px;

  .left {
    width: 30vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid black;

    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 26px;
    }

    p {
      font-size: 16px;
    }
  }

  .right {
    width: 70vw;
    height: 80vh;
    border: 1px solid yellowgreen;
  }
}
