.sidebar {
  width: 18rem;
  height: 100vh;
  background: #1f263e;
  padding: 15px 20px;
  transition: width 0.2s ease-in;

  .topSection {
    position: relative;

    .logo {
      display: inline-block;
    }

    .toggleMenuBtn {
      font-size: 1.3rem;
      color: #38405e;
      position: absolute;
      top: 50%;
      right: -30px;
      transform: translateY(-50%);

      &:hover {
        cursor: pointer;
        color: red;
      }
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background: #38405e;
    margin-top: 10px;
  }

  .menu {
    .title {
      font-size: 10px;
      font-weight: 500;
      color: #757575;
      text-transform: uppercase;
    }

    .mainMenu {
      .menuItem {
        color: #fff5f5;
        text-decoration: none;
        font-size: 0.975rem;
        display: block;
        font-weight: 600;

        svg {
          font-size: 30px;
        }

        a {
          display: flex;
          align-items: center;
          gap: 6px;
          font-size: 14px;
          font-weight: bold;

          text-decoration: none;
          padding: 12px 8px;
        }
      }
    }
  }

  .inactive {
    width: 5rem;

    .topSection {
      .toggleMenuBtn {
        right: -30px;
        color: wheat;
      }
    }
  }
}
