.sidebarWrapper {
  position: relative;
  .sidebar {
    width: 15rem;
    height: 100%;
    background: #1f263e;
    padding: 1rem;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    .topSection {
      width: max-content;
      display: flex;
      align-items: center;
      gap: 1rem;

      p {
        font-size: 0.9rem;
      }
      .logoTitle {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }

    .divider {
      width: 100%;
      height: 1px;
      border-radius: 1px;
      background: #38405e;
      margin-top: 10px;
    }

    .menu {
      .title {
        font-size: 10px;
        font-weight: 500;
        color: #757575;
        text-transform: uppercase;
        margin-top: 3rem;
      }
      .sidebarList {
        margin-top: 1rem;
        list-style: none;

        .sidebarItem {
          .sidebarLink {
            display: inline-block;
            font-size: 0.9rem;
            padding: 0.8rem 1rem;
            display: flex;
            background-color: #262e49;
            margin-bottom: 1rem;
            border-radius: 0.8rem;

            .icon {
              font-size: 1.2rem;
              display: inline-block;
            }

            .name {
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
  }

  .btn {
    position: absolute;
    font-size: 1.3rem;
    color: #fff;
    position: absolute;
    top: 1.6rem;
    right: 0;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(50%);

    &:hover {
      cursor: pointer;
      color: red;
    }
  }

  .inactive {
    width: 5.3rem;

    .name,
    .logoTitle {
      display: none;
    }
  }
}
