.tooltip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: #fff;
  border-radius: 0.3rem;
  border: none;

  &::before {
    content: "Comece agora";
    font-size: 0.8rem;
    position: absolute;
    width: 100px;
    background-color: bisque;
    padding: 0.5rem 1rem;
    transform: translateX(-50%);
    left: 50%;
    bottom: -3rem;
    z-index: 1;
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    border-bottom: 1.25rem solid bisque;
    border-left: 1.25rem solid transparent;
    border-right: 1.25rem solid transparent;
    transform: translateX(-50%);
    left: 50%;
    bottom: -1.7rem;
    display: none;
  }

  &:hover::before {
    display: block;
  }

  &:hover::after {
    display: block;
  }

  svg {
    width: 26px;
    height: 26px;
  }
}
