.formContainer {
  margin-top: 1.5rem;
  border: 1px solid black;

  h2 {
    font-size: 32px;
    padding: 40px 0;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
  }

  .pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;

    .table {
      margin: 0.1em 2em;
      text-align: center;
      position: relative;

      .price {
        background: linear-gradient(45deg, #20b486, #20b4a1);
        width: 5em;
        height: 5em;
        position: absolute;
        top: -3.3rem;
        left: 30%;
        transform: translate(-50);
        padding: 1.5em 1em 1em 1em;
        border-radius: 50%;
        z-index: 1;
        box-shadow: 0 1em 1em rgba(0, 0, 0, 0.3);

        h3 {
          font-size: 1.2rem;
        }
        small {
          font-size: 0.8rem;
        }
      }
      .shadowContainer {
        filter: drop-shadow(0 1em 1em rgba(0, 0, 0, 0.2));

        .tableHeader {
          width: 14em;
          height: 7em;
          background: linear-gradient(331deg, #321d58, #7344c8);
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 100%, 0 80%);

          .title {
            margin: 0.3rem;
            font-size: 1rem;
            letter-spacing: 1px;

            p {
              font-size: 0.7rem;
              font-weight: bold;
            }
          }
        }
      }
      .tableBody {
        width: 13rem;
        margin: -3rem auto 0 auto;
        background: grey;
        border-radius: 10px;
        box-shadow: 0 0 4rem rgb(0, 0, 0, 0.1);

        h2 {
          margin: 1rem 0 0.2rem 0;
          color: #222;
          font-size: 1.3rem;
        }

        p {
          font-size: 0.8rem;
        }

        ul {
          list-style: none;
          margin: 2rem 0;

          li {
            padding: 0.5rem 0;
            font-size: 0.8rem;
            font-weight: bold;
            display: flex;
            align-items: center;

            color: var(--textSoftOut);

            span {
              display: flex;
              justify-content: flex-start;
            }

            svg {
              margin-right: 0.3rem;
            }
          }
        }
      }
    }
    .btn {
      position: absolute;
      bottom: 0.8rem;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.3s;
    }
  }
}
