.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 5.2em;
  margin-bottom: 60px;
}

.btn {
  width: 100%;
  padding: 16px 0px;
  margin: 20px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-weight: 800;
  color: #ffffff;
  background: #7b6ef6;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
